<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee Management</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <nav class="navbar navbar-dark mdb-color darken-3">
        <a class="navbar-brand" asp-controller="home" asp-action="index">Employee Management</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="navbar-collapse" id="navbarSupportedContent">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="department" asp-action="index">Departments <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">

            </ul>
            <!-- Links -->
        </div>

    </nav>
    <div class="container">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Employee Management</p>
        </footer>
    </div>

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/mdb.min.js"></script>
    <script src="~/js/popper.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
