<h1>Add New Department</h1>

<form asp-action="add" method="post">
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <label>ID</label>
            </div>
            <div class="col-md-11">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <label>NAME</label>
            </div>
            <div class="col-md-11">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</form>